getwebexrooms/src/main/app/getwebexrooms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:CiscoSpark="http://www.mulesoft.org/schema/mule/CiscoSpark" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/CiscoSpark http://www.mulesoft.org/schema/mule/CiscoSpark/current/mule-CiscoSpark.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration">
    </http:listener-config>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="api.ciscospark.com" port="443" basePath="/v1" doc:name="HTTP Request Configuration"/>
    <flow name="sparkFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/people/{personId}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="personId" value="Y2lzY29zcGFyazovL3VzL1BFT1BMRS84NmIxN2M1OS04YTE3LTRhNmItYWM5YS1iMDU3ZTQ1M2QyOTU"/>
                <http:header headerName="Authorization" value="Bearer YzBhZThhYTktODM3ZC00Y2YxLWFkZmEtNTdjY2JiM2VjM2Y2ZjY4MmI2YjItYjVi"/>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
</mule>
